.m-list {
  $c: &;

  &--divider-solid,
  &--divider-dash {
    &--horizontal {
      #{$c}__item {
        border-right-width: 1px;

        &:last-child {
          border-right: 0;
        }
      }
    }

    &--vertical {
      #{$c}__item {
        border-bottom-width: 1px;

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  &--divider-solid {
    &--horizontal {
      #{$c}__item {
        border-right-style: solid;
      }
    }

    &--vertical {
      #{$c}__item {
        border-bottom-style: solid;
      }
    }
  }

  &--divider-dash {
    &--horizontal {
      #{$c}__item {
        border-right-style: dashed;
      }
    }

    &--vertical {
      #{$c}__item {
        border-bottom-style: dashed;
      }
    }
  }
}
