@import '../../../../style/import.scss';

.a-tags {
  $c: &;

  outline: 0;
  text-decoration: none;

  @include rounded(4px);
  @include font-weight(600);

  &--size {
    &-default {
      height: 32px;

      @include padding(all, 0 8px);
      @include font-size(subtitle-2);
    }

    &-small {
      height: 20px;

      @include padding(all, 0 4px);
      @include font-size(caption-2);
    }
  }

  &--theme {
    &-dark {
      @include background-color(dark400);
      @include font-color(white);
    }

    &-light {
      @include background-color(light400);
      @include font-color(dark800);
    }
  }

  &--inverted,
  &--outline {
    &.a-tags--theme-dark {
      @include background-color(dark100);
      @include font-color(dark400);
    }

    &.a-tags--theme-light {
      @include background-color(white);
      @include font-color(dark800);
    }
  }

  &--outline {
    &.a-tags--theme-dark {
      @include border(all, 1px, solid, get-color(dark400));
    }

    &.a-tags--theme-light {
      @include border(all, 1px, solid, get-color(dark100));
    }
  }

  &--rounded {
    @include rounded(30px);
  }
}
